<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <!--Services-->
    <services>
      <service name="HelloWorldService.HelloWorld">
        <endpoint address="" binding="basicHttpBinding" 
                  contract="HelloWorldService.IHelloWorld" />
        <endpoint address="mex" binding="mexHttpBinding" 
                  contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8732/HelloWorld" />
          </baseAddresses>
        </host>
      </service>
    </services>
    
    <!--Behaviors-->
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="False" />
          <WcfMessageLogger />
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <!--Extensions-->
    <extensions>
      <behaviorExtensions>
        <add name="WcfMessageLogger" 
             type="HelloWorldService.WcfMessageLoggerExtension, HelloWorldService" />
      </behaviorExtensions>      
    </extensions>
  </system.serviceModel>
</configuration>
